.container_box {
    border-radius: 10px;
    border-top: 3px solid #4363EC;
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(202, 209, 242, 0.22);
    max-width: 756px;
    height: auto;
    flex-shrink: 0;
    padding-top: 15px;
    margin-bottom: 20px;
}

.vote_page_title {
    color: #4363EC;
    font-family: Rajdhani;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 100% */
}

.Make_a {
    color: #000;
    font-family: Rajdhani;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 75% */
}

.option-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #4363EC;
    background: #FFF;
    padding: 10px;
}

.option-number {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #4363EC;
    color: #FFF;
    text-align: center;
    font-family: Rajdhani;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-right: 10px;
}

.option-label {
    color: #535974;
    font-family: Rajdhani;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    flex-grow: 1;
}

.option-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #4363EC;
    background: #FFF;
    padding: 10px;
}

.option-number {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #4363EC;
    color: #FFF;
    text-align: center;
    font-family: Rajdhani;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-right: 10px;
}

.option-label {
    color: #535974;
    font-family: Rajdhani;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    flex-grow: 1;
}

.checkbox-label {
    display: flex;
    align-items: center;
    color: #535974;
    font-family: Rajdhani;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-transform: capitalize;
}

.checkbox-label input[type="radio"] {
    display: none;
}

.checkbox-label .checkbox-icon {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #4363EC;
    background-color: #FFF;
}

.checkbox-label input[type="radio"]:checked+.checkbox-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0FA31E;
    display: block;
    color: #0FA31E;
    font-family: Font Awesome 6 Free;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    /* 100% */
    text-transform: capitalize;
}

.sheare_link {
    color: #4363EC;
    font-family: Rajdhani;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inline-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}